body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://ix14.netlify.app/a/bg.jpg);
}

h1 {
    font-family: 'Courier New';
    font-size: 50vh;
    color: #fff;
    text-align: center;
    margin-top: 1em;
}